* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
}
.navbar {
  width: 100%;
  height: 58.76px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100.23px 0px 100.23px;
}
.navbar .logo {
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.navbar .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.navbar .nav ul a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar .nav ul a:hover {
  color: #948b8b;
}

.navbar .nav ul li {
  padding: 20px;
}

.navbar .nav ul .btn-register {
  display: flex;
  width: 133px;
  height: 36.49px;
}

.navbar .nav ul .btn-register button {
  width: 100%;
  height: 100%;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 12.14px;
  font-weight: 600;
}
.navbar .nav ul .btn-register button:hover {
  background-color: #429644;
}

.hero {
  width: 100%;
  height: 416.95px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 66.2px 100.23px 66.2px 100.23px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.hero .hero-content .head-1 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4d4d4d;
}
.hero .hero-content .head-2 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4caf4f;
}
.hero .hero-content p {
  font-size: 11.27px;
  color: #4d4d4d;
  font-weight: 300;
  padding-bottom: 22.27px;
}
.hero .hero-content button {
  width: 89.55px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 11.4px;
  font-weight: 550;
}
info .hero .hero-content button:hover {
  background-color: #429644;
}
.hero .hero-img {
  width: 272.16px;
  height: 289.3px;
  object-fit: cover;
}

.clients {
  width: 100%;
  height: 132.92px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 14px;
}

.clients h1 {
  font-size: 25px;
  color: #4d4d4d;
  font-weight: 600;
}
.clients p {
  color: #717171;
  font-size: 11.14px;
  font-weight: 400;
}

.clients .client-logos {
  display: flex;
  gap: 100px;
  padding: 10px;
}

.clients .client-logos img {
  width: 43.4px;
  height: 43.4px;
}

.info {
  width: 100%;
  height: 310.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 27px;
  gap: 7px;
}
.info h1 {
  width: 377.72px;
  text-align: center;
  font-size: 25.06px;
  font-weight: 600;
  color: #4d4d4d;
  line-height: 30.6px;
}
.info p {
  font-size: 11.14px;
  color: #717171;
  font-weight: 400;
}
.info .info-boxes {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.info .info-boxes .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1.39px 2.78px rgba(171, 190, 209, 0.3);
  padding: 16.71px 22.27px 16.71px 22.27px;
}

.info .info-boxes .info-box img {
  width: 45.24px;
  height: 38.98px;
}
.info .info-boxes .info-box h1 {
  width: 150.85px;
  color: #4d4d4d;
  font-size: 19.49px;
  font-weight: 700;
  margin-top: 7px;
}

.info .info-boxes .info-box p {
  width: 160.06px;
  text-align: center;
  font-size: 9.74px;
  font-weight: 300;
}

.pixelgrade {
  width: 100%;
  height: 301.4px;
  padding: 40px 100px 20px 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.pixelgrade .pixelgrade-content {
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.pixelgrade img {
  width: 307px;
  height: 289px;
}
.pixelgrade h1 {
  width: 418.34px;
  height: 62px;
  font-size: 25.06px;
  font-weight: 600;
  color: #4d4d4d;
}
.pixelgrade p {
  width: 470.34px;
  color: #717171;
  font-size: 9.74px;
  line-height: 1.5em;
  font: 400;
}
.pixelgrade button {
  width: 105.55px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
}

.pixelgrade button:hover {
  background-color: #429644;
}

.achievements {
  width: 100%;
  height: 202.94px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 44.55px 100.23px;
  background-color: #f5f7fa;
}
.achievements .content {
  width: 375.88px;
  height: 84.57px;
}
.achievements .head1 {
  color: #4d4d4d;
  font-size: 26.06px;
  font-weight: 600;
}
.achievements .head2 {
  color: #4caf4f;
  font-size: 26.06px;
  font-weight: 600;
}

.achievements p {
  color: #18191f;
  font-size: 11.14px;
  font-weight: 400;
}
.achievements .numbers {
  display: flex;
  align-items: center;
}

.achievements .numbers .card-row-1 {
  display: flex;
  flex-direction: column;
  width: 375.88px;
}
