* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}

.navbar {
  width: 100%;
  height: 58.76px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100.23px 0px 100.23px;
}
.navbar .logo {
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.navbar .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.navbar .nav ul a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar .nav ul a:hover {
  color: #948b8b;
}

.navbar .nav ul li {
  padding: 20px;
}

.navbar .nav ul .btn-register {
  display: flex;
  width: 133px;
  height: 36.49px;
}

.navbar .nav ul .btn-register button {
  width: 100%;
  height: 100%;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 11.14px;
  font-weight: 500;
}
.navbar .nav ul .btn-register button:hover {
  background-color: #429644;
}

.hero {
  width: 100%;
  height: 416.95px;
  background-color: #f5f7fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 66.2px 100.23px 66.2px 100.23px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.hero .hero-content .head-1 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4d4d4d;
}
.hero .hero-content .head-2 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4caf4f;
}
.hero .hero-content p {
  font-size: 11.27px;
  color: #4d4d4d;
  font-weight: 300;
  padding-bottom: 22.27px;
}
.hero .hero-content button {
  width: 89.55px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 11.4px;
  font-weight: 550;
}

.hero .hero-content button:hover {
  background-color: #429644;
}
.hero .hero-img {
  width: 272.16px;
  height: 289.3px;
  object-fit: cover;
}
