* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}
.container {
  max-width: 1024px;
  height: auto;
  margin: 0 auto;
  padding: 0px 15px;
}
.navbar {
  width: 100%;
  height: 58.76px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0px;
  padding: 0px 20px;
}

.navbar .hamburger {
  display: none;
}
.navbar .logo {
  display: flex;
  gap: 7px;
  cursor: pointer;
}

.navbar .nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style-type: none;
}

.navbar .nav ul a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
}

.navbar .nav ul a:hover {
  color: #948b8b;
}

.navbar .nav ul li {
  margin: 15px;
}

.navbar .nav ul button {
  width: 133px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 12.14px;
  font-weight: 600;
}
.navbar .nav ul button:hover {
  background-color: #429644;
}
.hero-class {
  background-color: #f5f7fa;
}
.hero {
  width: 100%;
  max-height: 600.95px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 10px;
}

.hero .hero-content .head-1 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4d4d4d;
}
.hero .hero-content .head-2 {
  font-size: 44.55px;
  font-weight: 600;
  color: #4caf4f;
}
.hero .hero-content p {
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 300;
  padding-bottom: 22.27px;
  max-width: 400px;
  text-wrap: wrap;
}
.hero .hero-content button {
  max-width: 100.55px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 550;
}
.hero .hero-content button:hover {
  background-color: #429644;
}
.hero .hero-img {
  max-width: 100%;
}
.hero .hero-img img {
  padding: 20px;
}

.clients {
  width: 100%;
  max-height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
  gap: 20px;
}

.clients h1 {
  font-size: 37px;
  color: #4d4d4d;
  font-weight: 600;
}
.clients p {
  color: #717171;
  font-size: 14px;
  font-weight: 400;
}

/* .clients .client-logos {
  max-width: 801px;
  display: flex;
  gap: 93px;
} */
.clients .client-logos {
  display: grid;
  grid-template-columns: repeat(6, 3fr);
  gap: 80px;
}

.clients .client-logos img {
  width: 43.4px;
}

.info-class {
  background-color: #f5f7fa;
}
.info {
  width: 100%;
  max-height: 1210.8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 25px;
  gap: 25px;
}

.info h1 {
  max-width: 500.72px;
  text-align: center;
  font-size: 37px;
  font-weight: 600;
  color: #4d4d4d;
  line-height: 36.6px;
}
.info p {
  font-size: 16px;
  color: #717171;
  font-weight: 400;
}
.info .info-boxes {
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}
.info .info-boxes .info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 1.39px 2.78px rgba(35, 126, 218, 0.3);
  padding: 19.71px 22.27px 19.71px 22.27px;
  gap: 7px;
  border: 1.3px solid #55912f;
}

.info .info-boxes .info-box img {
  width: 45.24px;
  height: 38.98px;
}
.info .info-boxes .info-box h1 {
  max-width: 500.85px;
  color: #4d4d4d;
  font-size: 25.49px;
  font-weight: 700;
  margin-top: 7px;
}

.info .info-boxes .info-box p {
  max-width: 300.06px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.pixelgrade {
  width: 100%;
  max-height: 1000px;
  padding: 40px 100px 20px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin-top: 20px;
}
.pixelgrade .pixelgrade-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 17px;
  max-height: 1000px;
  padding: 10px;
}
.pixelgrade img {
  max-width: 310px;
  padding: 10px;
}
.pixelgrade h1 {
  max-width: 100%;
  font-size: 30.06px;
  font-weight: 600;
  color: #4d4d4d;
}
.pixelgrade p {
  max-width: 800px;
  color: #717171;
  font-size: 14.74px;
  line-height: 1.5em;
  font: 400;
}
.pixelgrade button {
  max-width: 105.55px;
  height: 36.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
}

.pixelgrade button:hover {
  background-color: #429644;
}

.footer-class {
  background-color: #263238;
}
.footer {
  max-width: 100%;
  max-height: 229px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 44.55px 114.85px;
}

.footer .left-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 200px;
}
.footer .left-section .socials {
  display: flex;
  gap: 15px;
}

.footer .left-section .socials a {
  text-decoration: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
}
.footer .left-section .logo {
  display: flex;
  gap: 5px;
  color: #ffffff;
  width: 100%;
}
.footer .left-section .copyright {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.footer .left-section h2 {
  color: #ffffff;
  font-size: 10.74px;
  max-width: 243.62px;
  font-weight: 500;
}
.footer .right-section {
  display: flex;
  gap: 60px;
  max-width: 442px;
  margin-left: 30px;
}
.footer .right-section .company,
.footer .right-section .support {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}

.footer .right-section .company h1,
.footer .right-section .support h1 {
  font-size: 13.92px;
  color: white;
  font-weight: bolder;
}
.footer .right-section .company ul,
.footer .right-section .support ul {
  list-style: none;
}
.footer .right-section .company ul a,
.footer .right-section .support ul a {
  text-decoration: none;
  color: rgb(224, 224, 224);
  font-size: 10.4px;
  font-weight: 400;
}
.footer .right-section .company ul a:hover,
.footer .right-section .support ul a:hover {
  text-decoration: underline;
}

.footer .right-section .uptodate {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .right-section .uptodate h1 {
  font-size: 13.92px;
  color: white;
  font-weight: bolder;
}
.footer .right-section .uptodate input {
  max-width: 177px;
  height: 28px;
  background-color: #3b3c3f;
  padding: 6.26px 7.58px 8.35px;
  border: none;
  border-radius: 5.57px;
  outline: none;
  color: white;
}

.footer .right-section .uptodate input::placeholder {
  color: white;
  opacity: 50%;
}
.footer .right-section .uptodate button {
  max-width: 70.55px;
  height: 20.49px;
  background-color: #4caf4f;
  border: none;
  color: #ffffff;
  border-radius: 2.78px;
  cursor: pointer;
  font-size: 10.74px;
}

.footer .right-section .uptodate button:hover {
  background-color: #429644;
}

@media (max-width: 768px) {
  .navbar {
    padding: 0px 14px;
  }
  .navbar .hamburger {
    display: block;
  }
  .navbar .nav {
    display: none;
  }
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
  }
  .hero .hero-content {
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .hero .hero-content p {
    font-size: 15px;
    margin-top: 20px;
    width: 100%;
  }
  .hero .hero-content button {
    width: 100px;
  }
  .hero .hero-img {
    display: none;
  }

  .clients h1 {
    font-size: 30px;
  }
  .clients p {
    font-size: 15px;
    text-align: center;
    padding: 7px;
  }
  .clients .client-logos img {
    width: 70px;
  }
  .clients .client-logos {
    grid-template-columns: repeat(3, 2fr);
    gap: 100px;
    row-gap: 20px;
  }

  .info {
    height: 100%;
    flex-direction: column;
  }
  .info h1 {
    font-size: 30px;
    line-height: 1em;
    width: 300px;
  }
  .info p {
    font-size: 14px;
    margin-top: 10px;
  }
  .info .info-boxes {
    flex-direction: column;
    gap: 20px;
  }
  .info .info-boxes .info-box {
    align-items: center;
    justify-content: center;
    width: 300px;
  }
  .info .info-boxes .info-box img {
    width: 100px;
    height: 100px;
  }
  .info .info-boxes .info-box h1 {
    text-align: center;
    width: 300px;
    font-size: 25px;
  }
  .info .info-boxes .info-box p {
    font-size: 14px;
    width: 250px;
  }

  .pixelgrade {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .pixelgrade .pixelgrade-content {
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid #3b3c3f; */
  }

  .pixelgrade .pixelgrade-content h1 {
    text-align: center;
    font-size: 30px;
    width: 100%;
  }
  .pixelgrade .pixelgrade-content p {
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding: 0px 18px;
  }
  .pixelgrade img {
    width: 100%;
  }
  .pixelgrade .pixelgrade-content button {
    width: 100px;
  }

  .footer {
    flex-direction: column;
    padding: 0px;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .footer .left-section {
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 10px 0px;
  }
  .footer .left-section .copyright {
    align-items: center;
  }

  .footer .left-section .socials {
    margin-top: 4px;
  }

  .footer .left-section .socials a {
    font-size: 14px;
  }
  .footer .right-section {
    display: none;
  }
  .footer .right-section .uptodate {
    display: none;
  }
}

@media (max-width: 481px) {
  .pixelgrade img {
    display: none;
  }
  .clients .client-logos {
    grid-template-columns: repeat(2, 2fr);
    gap: 100px;
    row-gap: 20px;
  }
}
